export(pirls)
export(pls)
export(plsform)
importFrom(Matrix,bdiag)
importFrom(Matrix,Cholesky)
importFrom(Matrix,Diagonal)
importFrom(Matrix,rBind)
importFrom(minqa,bobyqa)
importMethodsFrom(Matrix,"%*%")
importMethodsFrom(Matrix,crossprod)
importMethodsFrom(Matrix,determinant)
importMethodsFrom(Matrix,diag)
importMethodsFrom(Matrix,solve)
importMethodsFrom(Matrix,t)
importMethodsFrom(Matrix,tcrossprod)
importMethodsFrom(Matrix,update)
