export(Zsection)
export(blockLambdat)
export(mkLambdat)
export(mkLind)
export(mkRanefRepresentation)
export(mkRanefStructures)
export(mkTemplate)
export(mkTemplates)
export(mkTheta)
export(mkZt)
export(mkZtSection)
export(pirls)
export(pls)
export(plsform)
export(rLmer)
importFrom(Matrix,Cholesky)
importFrom(Matrix,Diagonal)
importFrom(Matrix,bdiag)
importFrom(Matrix,rBind)
importFrom(Matrix,sparse.model.matrix)
importFrom(lme4,findbars)
importFrom(lme4,nobars)
importFrom(lme4,subbars)
importMethodsFrom(Matrix,"%*%")
importMethodsFrom(Matrix,crossprod)
importMethodsFrom(Matrix,determinant)
importMethodsFrom(Matrix,diag)
importMethodsFrom(Matrix,solve)
importMethodsFrom(Matrix,t)
importMethodsFrom(Matrix,tcrossprod)
importMethodsFrom(Matrix,update)
