export(lmer)
export(pirls)
export(pls)
export(plsform)
importFrom(minqa,bobyqa)
importMethodsFrom(Matrix,"%*%")
importMethodsFrom(Matrix,bdiag)
importMethodsFrom(Matrix,crossprod)
importMethodsFrom(Matrix,determinant)
importMethodsFrom(Matrix,diag)
importMethodsFrom(Matrix,solve)
importMethodsFrom(Matrix,t)
importMethodsFrom(Matrix,tcrossprod)
S3method(plsform,formula)
S3method(pls,list)
S3method(pls,matrix)
